<h2>
    OnePlus 8T launch event set for October 14th
</h2>
<pre>
    The ’T’ handsets are tricky beasts. Released six months after the vanilla handsets they 
    inherit the number from, they allow OnePlus to stay on top of current smartphone trends 
    and always having the option to offer the latest technology to its customers. That means 
    
    a rapid turnaround of devices, and while most users will be on a network contract-esque 
    24 month cycle of buying devices, OnePlus softens the blow of constant hardware updates 
    with as much back porting of software features to older devices as resources will allow.

I’ve no doubt that OnePlus 8T will follow that same trend, with a feature set remarkably close,
 but slightly ahead of the OnePlus 8. It’s a tricky path to navigate, although it is one that 
 OnePlus has navigated with the 5T, 6T, and 7T handsets.

PROMOTED




This year has a number of factors that make it trickier than most.

In 2020 there is a handset that sits between the launch of the OnePlus 8 and the OnePlus 8T. 
The OnePlus Nord has been praised by the community as a handset more in keeping with the early 



spirit of the ‘flagship killing’ smartphones early in OnePlus’ life. OnePlus itself describes 

the OnePlus Nord as “pretty much everything you could ask for”.

If the OnePlus 8 Pro (note that the presumptively named OnePlus 8T Pro has not been announced) 
is the flagship, and the OnePlus Nord is everything you need, I’m intrigued to see where the 
OnePlus 8T fits into that progression. The preview video has the tag line “Ultra stops at nothing”,

MORE FOR YOU
Mystery iPhone Revealed In Latest Apple Leak
Why Huawei’s New Update Is Seriously Bad News For Android Users
How Amex Uses AI To Automate 8 Billion Risk Decisions (And Achieve 50% Less Fraud)
</pre>

