<h2>Battlegrounds Mobile India launch: </h2>
   <h2> THESE smartphones will not support new game - Check full list</h2>
     
    
<pre>Battlegrounds Mobile India fans are completely enjoying the beta version 
    of the game that was released on Thursday, June 17. While the game is not 
    officially 
    launched, PUBG Mobile India fans are already downloading the game using APK, 
    OBB links for Android devices as well.      
    

     It is no surprise that Battlegrounds Mobile India has been released with some
      changes.
     However, many users are facing problems in downloading the beta version with 
     either Goog
     Play Store taking a lot of time to load or the message of the slot is full. 
        
    There are a lot of users who were able to download the Battlegrounds Mobile India 
    beta version 
    and are having a gala time, but, the ones who were not able to access the same, 
    should check 
     whether their phones support it.

    As far as phone support is concerned, Krafton has already clarified that almost all 
    Android phones
     will 
    support Battlegrounds Mobile India. For this, the phone needs 2GB of RAM. Apart from RAM,
     another 
     factor on which its support depends is regarding the Android version. Along with 2GB of 
     RAM in the
             phone, the OS version of the phone should be Android 5.1.1.  

        Many mobile phones come with 2GB RAM nowadays because of which those users whose phone 
        has less RAM than
        this cannot play Battlegrounds Mobile India. This includes smartphones like Tecno Spark 
        7, Samsung
         Galaxy M01 Core. 

         The users who were not able to download the Battlegrounds Mobile India beta 
        version should check whether their smartphones are up to date.
        
        </pre>




