<h2>John McGinn mocks Cristiano Ronaldo with Coca-Cola gag as UEFA prepare to issue fines</h2>
<pre>Scotland star John McGinn made light of the current and bizarre commercial issue currently
     bubbling under the surface at Euro 2020.


    The movement started with Cristiano Ronaldo removing two bottles of Coca-Cola from view 
    during a Portugal press conference, before urging onlookers to 'drink water' instead.
    
    This was then followed by Manchester United star Paul Pogba taking away a bottle of 
    non-alcoholic Heineken - possibly for religious reasons - in a France press conference.
    
    Coca-Cola's shares dropped dramatically following Ronaldo's snub, though it is disputed 
    that this was a direct result of the Juventus man's actions.
    
    In fact, UEFA released a statement such was the fallout. It read: "Players are offered 
    water, alongside Coca-Cola and Coca-Cola Zero Sugar, on arrival at our press conferences.
    " A spokesperson added that people have different “tastes and needs”.Ukraine's Andriy 
    Yarmolenko urged Coca-Cola and Heineken to "please contact me" after moving the branded 
    bottles closer to him.

    While McGinn, ahead of Scotland's clash against England, joked there was "Nae coke?" as 
    he walked in and sat down for their press conference.Gareth Southgate was asked about the
     movement ahead of Friday's clash.

    “There are lots of sponsors in sport and the impact of their money at all levels helps sport 
    to function, particularly grassroots sport in our country requires a lot of investment and,
     without these companies investing, it’s very difficult to have the facilities we need," he said.
    
    “We are mindful of obesity and health but everything can be done in moderation. Anything 
    partaken of in moderation is rarely a problem. I understand the concerns people have and 
    the two guys [Ronaldo and Pogba] have different rationale for their stances they took. 
    But there’s always a bigger picture.”</pre>

